In [12]:
import numpy as np 
import pandas as pd
data = np.array(['a','b','c'])
s = pd.Series(data)
print(s)
s[0]
s = pd.Series(data, index = [101,102,103])
print(s)
print(s.dtype)
s.copy()

0    a
1    b
2    c
dtype: object
101    a
102    b
103    c
dtype: object
object

101    a
102    b
103    c
dtype: object

In [20]:
s = pd.Series(data = ['hie','bye','oye'], index=[101,102,103])
print(s)
print (s[[101]])

101    hie
102    bye
103    oye
dtype: object
101    hie
dtype: object

In [28]:
data = [2,3,4,5],[6,7,8,9]
df = pd.DataFrame(data)
print(df)

   0  1  2  3
0  2  3  4  5
1  6  7  8  9

In [41]:
data = [['tejas',22],['pravin',32],['dipak',33]]
df = pd.DataFrame(data,columns = ['name','age'])
df

     name  age
0   tejas   22
1  pravin   32
2   dipak   33

In [45]:
data = np.array([10,20,30])
print(data)
new_data = pd.Series(data)
print(new_data)

[10 20 30]
0    10
1    20
2    30
dtype: int32